@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v20/6xKtdSZaM9iE8KbpRA_hK1QN.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html {
  margin: 0;
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 60rem;
  overflow: hidden;
  transition: background-color .3s;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--bg-primary);
  --color-primary: #ff3d16;
  --color-primary-rgb: 255, 61, 22;
  --color-primary-dark: #df2a05;
  --color-primary-dark-rgb: 223, 42, 5;
  --color-pending: #7a847d;
  --color-success: #42a75f;
  --color-error: #ff3d16;
  --color-input-hint: #7b7b7b;
  --color-input-primary: #8899a9;
  --color-input-primary-dark: #34495e;
  --color-input-error: #ff3d16;
  --color-input-success: #8899a9;
  --color-input-password: rgb(151, 147, 147);
  --color-shadow: rgb(201 201 201);
  --color-shadow-primary-rgb: 255, 61, 22;
  --color-shadow-primary-dark-rgb: 223, 42, 5;
  --color-text-light: #ffffff;
  --color-text-dark: #000000;
  --color-text-primary: rgb(50, 50, 50);
  --color-text-secondary: rgb(135, 135, 135);
  --app-bar: rgb(250 250 250 / 0.7);
  --hover-highlight: rgb(230 230 230);
  --bg-primary: #fafafa;
  --bg-primary-light: #ffffff;
  --offset-height: 0px;
  --offset-on: 0;
}

body.dark {
  --color-primary: #f44336;
  --color-primary-rgb: 255, 61, 22;
  --color-primary-dark: #df2a05;
  --color-primary-dark-rgb: 0, 0, 0;
  --color-pending: #7a847d;
  --color-success: #42a75f;
  --color-error: #ff3d16;
  --color-input-hint: #b7b7b7;
  --color-input-primary: #8899a9;
  --color-input-primary-dark: #d7d3d3;
  --color-input-error: #ff3d16;
  --color-input-success: #8899a9;
  --color-input-password: rgb(151, 147, 147);
  --color-shadow: rgb(0 0 0);
  --color-shadow-primary-rgb: 0, 0, 0;
  --color-shadow-primary-dark-rgb: 0, 0, 0;
  --color-text-light: #ececec;
  --color-text-dark: #e1e1e1;
  --color-text-primary: rgb(214 214 214);
  --color-text-secondary: rgb(170 170 170);
  --hover-highlight: rgb(67 67 67);
  --app-bar: rgb(33 33 33 / 0.7);
  --bg-primary: rgb(33 33 33);
  --bg-primary-light: #323232;
}

@media all and (min-width: 60rem) {
  html {
    background-color: #e4e5e5;
  }
  body {
    margin: auto;
    box-shadow: #817e7e91 0px 0px 5px 0px inset;
  }
}

view-switcher[splashscreen] {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

view-switcher[splashscreen]::after {
  color: var(--color-primary);
  position: absolute;
  width: 40px;
  height: 40px;
  top: 35%;
  left: 20%;
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 1px;
  content: 'Live Parade State';
  text-shadow: 1px 1px 4px rgba(var(--color-primary-dark-rgb), 0.4);
}

view-switcher[splashscreen]::before {
  color: #232323;
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 1px;
  content: 'loading...';
  animation: fade-in 1s backwards;
  animation-delay: 2s;
}

view-switcher[initialized]::after {
  animation: fade-out 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
