* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
input,
textarea{
    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

wc-button {
    --button-font-size: 1.3rem;
    --button-padding: 15px 10px;
}

html,
body {
  --color-primary: #FF3838;
  --color-primary-dark: #E90000;
  --color-primary-rgb: 255,56,56;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    background: #FAF5FA;
}

::-webkit-scrollbar {
  display: none;
}

#splashscreen {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20%;
  left: 25%;
  margin: -20px 0 0 -20px;
  content: "Live Parade State";
  color: var(--color-primary);
  font-weight: 900;
  font-size: 3rem;
}

#export-loading {
  position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: #292828;
    font-weight: 400;
    top: 0;
    height: 100%;
    width: 100%;
    background: #faf5fab8;
    backdrop-filter: blur(2px);
    z-index: 99;
    white-space: pre-line;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}

.fade-out {
  animation: fade-out 0.3s;
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}